.white { color: white; }

* { font-family: 'Lato', sans-serif; }

#map { height: 100%; width: 100%; }

#map-icon { position: absolute; top: 10px; right: 16px; z-index: 2000; width: 70px; }

/* Experimental Position */

#map-icon { top: 10px; right: 22px; width: 60px; }

@media screen and (min-width: 641px) {

  .my-fixed { position: fixed; z-index: 2000; right: 0; }

  .title-area { float: none !important; display: inline-block; }

  .top-bar-section { display: inline; }

  .top-bar { border-radius: 7px; border-left: solid 5px #333333; border-right: solid 5px #333333; top: 12px; right: 100px; } 
  
  
  /* Experimental UI Features */
  .top-bar-section li:not(.has-form) a:not(.button), .top-bar-section li.active:not(.has-form) a:not(.button) {
	line-height: 2.2rem;
  }
  
  .top-bar-section .has-dropdown > a:after {
	top: 1.1rem;
  }
  
  .top-bar {
	height: 2.2rem; background: transparent;
  }
  
  .top-bar-section ul li {
	border-left: solid 2px transparent;
  }
  
  .top-bar-section ul li {
	background: transparent;
  }
  
  .top-bar-section ul li:first-of-type {
	border-left: 0;
  }
}
